extends layout

block meta
    link(rel="stylesheet", href="/kindeditor/plugins/code/prettify.css")

block content
    include common/_post
    aside.sidebar.c-4-12
        #sidebars.g
            .sidebar
                include common/_sidebar