!!! 5
html.no-js(lang='en-US')
    head
        include common/_head
        block meta
    body#blog.home.blog.main.cat-32-id.cat-80-id
        #line
        include common/_header
        .main-container
            #page
                .content
                    block content
        include common/_footer
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/jquery-ui.min.js')
    script(type='text/javascript', src='/js/modernizr.min.js')
    script(type='text/javascript', src='/js/customscript.js')
    block script
    script(type="text/javascript")
        var duoshuoQuery = {short_name:"snode"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = 'http://static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();