!!! 5
html.no-js(lang='en-US')
  head
    meta(charset='UTF-8')
    title Ribbon
    link(rel='icon', href='http://demo.mythemeshop.com/ribbon/files/2013/01/favicon.png', type='image/x-icon')
    // iOS/android/handheld specific
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(rel='stylesheet', type='text/css', media='all', href='http://demo.mythemeshop.com/ribbon/wp-content/themes/ribbon/style.css')
    link(rel='pingback', href='http://demo.mythemeshop.com/ribbon/xmlrpc.php')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    style(type='text/css')
      body {background-color:#EBEBEB;}
      .nav-previous a:hover,.nav-next a:hover,#commentform input#submit,#searchform input[type="submit"],.home_menu_item,.secondary-navigation a:hover, .post-date-ribbon,.currenttext, .pagination a:hover,.readMore a,.mts-subscribe input[type="submit"] {background-color:#EA141F; }
      #tabber .inside li .meta b,footer .widget li a:hover,.fn a,.reply a,#tabber .inside li div.info .entry-title a:hover, #navigation ul ul a:hover,.single_post a, a:hover, .textwidget a, #commentform a, #tabber .inside li a, .copyrights a:hover, a, .sidebar.c-4-12 a:hover, .top a:hover {color:#EA141F; }
      .corner {border-color: transparent transparent #EA141F transparent;}
      .secondary-navigation, footer, .sidebar #searchform input[type="submit"]:hover, .readMore a:hover, #commentform input#submit:hover { background-color: #364956; }
    link(rel='alternate', type='application/rss+xml', title='Ribbon » Feed', href='http://demo.mythemeshop.com/ribbon/feed/')
    link(rel='alternate', type='application/rss+xml', title='Ribbon » Comments Feed', href='http://demo.mythemeshop.com/ribbon/comments/feed/')
    link#GoogleFonts-css(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Monda%3Aregular%2Cbold&v1&ver=3.5.1', type='text/css', media='all')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js?ver=1.7.1')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js?ver=1.8.16')
    script(type='text/javascript', src='http://demo.mythemeshop.com/ribbon/wp-content/themes/ribbon/js/modernizr.min.js?ver=3.5.1')
    script(type='text/javascript', src='http://demo.mythemeshop.com/ribbon/wp-content/themes/ribbon/js/customscript.js?ver=3.5.1')
    link(rel='EditURI', type='application/rsd+xml', title='RSD', href='http://demo.mythemeshop.com/ribbon/xmlrpc.php?rsd')
    link(rel='wlwmanifest', type='application/wlwmanifest+xml', href='http://demo.mythemeshop.com/ribbon/wp-includes/wlwmanifest.xml')
    // Theme by MyThemeShop.com
  body#blog.home.blog.main.cat-32-id.cat-80-id
    header.main-header
      .container
        #header
          h1#logo
            a(href='http://demo.mythemeshop.com/ribbon')
              img(src='http://demo.mythemeshop.com/ribbon/files/2013/01/logo.png', alt='Ribbon')
          // END #logo
          .widget-header
            .banner
              .textwidget
                img(src='http://demo.mythemeshop.com/top/files/2012/05/103642-1335226181.png')
        // #header
        .secondary-navigation
          nav#navigation
            ul#menu-main-navigation.menu
              li#menu-item-1305.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-1305
                a(href='http://demo.mythemeshop.com/ribbon/') Home
              li#menu-item-1286.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-1286
                a(href='http://demo.mythemeshop.com/ribbon/category/apple/') Apple
              li#menu-item-1285.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-1285
                a(href='http://demo.mythemeshop.com/ribbon/category/google/') Google
              li#menu-item-1287.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-1287
                a(href='http://demo.mythemeshop.com/ribbon/category/mobiles/') Mobiles
              li#menu-item-1298.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1298
                a(href='http://demo.mythemeshop.com/ribbon/options-panel/') Options Panel
                ul.sub-menu
                  li#menu-item-1300.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1300
                    a(href='http://demo.mythemeshop.com/ribbon/options-panel/general-settings/') General Settings
                  li#menu-item-1303.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1303
                    a(href='http://demo.mythemeshop.com/ribbon/options-panel/styling/') Styling Options
                  li#menu-item-1301.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1301
                    a(href='http://demo.mythemeshop.com/ribbon/options-panel/single-post/') Single Post
      // .container
    .main-container
      #page
        .content
          article.article
            #content_box.home_page
              .post.excerpt
                .post-date-ribbon
                  .corner
                  | 20 May 2012
                header
                  h2.title
                    a(href='http://demo.mythemeshop.com/ribbon/2012/05/20/how-twitter-works-all-you-need-to-know-about-twitter/', title='Class Aptent Taciti Aociosqu Ad Litora Torquent Per', rel='bookmark') Class Aptent Taciti Aociosqu Ad Litora Torquent Per
                  .post-info
                    .author_mt.hp_meta
                      span.mt_icon
                      | By
                      a(rel='author', href='http://demo.mythemeshop.com/ribbon/author/snbh3gj/', title='Posts by MyThemeShop') MyThemeShop
                    .cat_mt.hp_meta
                      span.mt_icon
                      a(href='http://demo.mythemeshop.com/ribbon/category/featured/', title='View all posts in featured', rel='nofollow') featured
                      | ,
                      a(href='http://demo.mythemeshop.com/ribbon/category/wellhead/', title='View all posts in wellhead', rel='nofollow') wellhead
                    .comment_mt.hp_meta
                      span.mt_icon
                      a(href='http://demo.mythemeshop.com/ribbon/2012/05/20/how-twitter-works-all-you-need-to-know-about-twitter/#comments')  0 Comments
                // .header
                a#featured-thumbnail(href='http://demo.mythemeshop.com/ribbon/2012/05/20/how-twitter-works-all-you-need-to-know-about-twitter/', title='Class Aptent Taciti Aociosqu Ad Litora Torquent Per', rel='nofollow')
                  .featured-thumbnail
                    img.attachment-featured.wp-post-image(width='150', height='150', src='http://demo.mythemeshop.com/ribbon/files/2012/05/2320393-150x150.jpg', alt='2320393', title='')
                .post-content.image-caption-format-1
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada, nibh quis egestas pellentesque, dui neque sagittis nisl, eget malesuada nunc felis sed augue. Aenean tempor nibh sed diam elementum sollicitudin quis in metus. Praesent tincidunt, velit id laoreet dictum, ante elit molestie nunc, ut dictum nulla lectus fringilla felis. Ut molestie, justo at suscipit
                .readMore
                  a(href='http://demo.mythemeshop.com/ribbon/2012/05/20/how-twitter-works-all-you-need-to-know-about-twitter/', title='Class Aptent Taciti Aociosqu Ad Litora Torquent Per', rel='bookmark') Read More
              // .post excerpt
              .post.excerpt.last
                .post-date-ribbon
                  .corner
                  | 16 May 2012
                header
                  h2.title
                    a(href='http://demo.mythemeshop.com/ribbon/2012/05/16/facebook-buys-lightbox-an-android-photo-sharing-app/', title='Eget Malesuada Nunc Delis Sed Augue Aenean', rel='bookmark') Eget Malesuada Nunc Delis Sed Augue Aenean
                  .post-info
                    .author_mt.hp_meta
                      span.mt_icon
                      | By
                      a(rel='author', href='http://demo.mythemeshop.com/ribbon/author/snbh3gj/', title='Posts by MyThemeShop') MyThemeShop
                    .cat_mt.hp_meta
                      span.mt_icon
                      a(href='http://demo.mythemeshop.com/ribbon/category/articles/', title='View all posts in articles', rel='nofollow') articles
                      | ,
                      a(href='http://demo.mythemeshop.com/ribbon/category/asmodeus/', title='View all posts in asmodeus', rel='nofollow') asmodeus
                      | ,
                      a(href='http://demo.mythemeshop.com/ribbon/category/featured/', title='View all posts in featured', rel='nofollow') featured
                    .comment_mt.hp_meta
                      span.mt_icon
                      a(href='http://demo.mythemeshop.com/ribbon/2012/05/16/facebook-buys-lightbox-an-android-photo-sharing-app/#comments')  0 Comments
                // .header
                a#featured-thumbnail(href='http://demo.mythemeshop.com/ribbon/2012/05/16/facebook-buys-lightbox-an-android-photo-sharing-app/', title='Eget Malesuada Nunc Delis Sed Augue Aenean', rel='nofollow')
                  .featured-thumbnail
                    img.attachment-featured.wp-post-image(width='150', height='150', src='http://demo.mythemeshop.com/ribbon/files/2012/05/2478745-150x150.jpg', alt='2478745', title='')
                .post-content.image-caption-format-1
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada, nibh quis egestas pellentesque, dui neque sagittis nisl, eget malesuada nunc felis sed augue. Aenean tempor nibh sed diam elementum sollicitudin quis in metus. Praesent tincidunt, velit id laoreet dictum, ante elit molestie nunc, ut dictum nulla lectus fringilla felis. Ut molestie, justo at suscipit
                .readMore
                  a(href='http://demo.mythemeshop.com/ribbon/2012/05/16/facebook-buys-lightbox-an-android-photo-sharing-app/', title='Eget Malesuada Nunc Delis Sed Augue Aenean', rel='bookmark') Read More
              // .post excerpt
              .post.excerpt
                .post-date-ribbon
                  .corner
                  | 03 May 2012
                header
                  h2.title
                    a(href='http://demo.mythemeshop.com/ribbon/2012/05/03/4-killer-social-media-marketing-strategies/', title='Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus Et Ultrices', rel='bookmark') Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus Et Ultrices
                  .post-info
                    .author_mt.hp_meta
                      span.mt_icon
                      | By
                      a(rel='author', href='http://demo.mythemeshop.com/ribbon/author/snbh3gj/', title='Posts by MyThemeShop') MyThemeShop
                    .cat_mt.hp_meta
                      span.mt_icon
                      a(href='http://demo.mythemeshop.com/ribbon/category/antiquarianism/', title='View all posts in antiquarianism', rel='nofollow') antiquarianism
                      | ,
                      a(href='http://demo.mythemeshop.com/ribbon/category/featured/', title='View all posts in featured', rel='nofollow') featured
                    .comment_mt.hp_meta
                      span.mt_icon
                      a(href='http://demo.mythemeshop.com/ribbon/2012/05/03/4-killer-social-media-marketing-strategies/#comments')  0 Comments
                // .header
                a#featured-thumbnail(href='http://demo.mythemeshop.com/ribbon/2012/05/03/4-killer-social-media-marketing-strategies/', title='Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus Et Ultrices', rel='nofollow')
                  .featured-thumbnail
                    img.attachment-featured.wp-post-image(width='150', height='150', src='http://demo.mythemeshop.com/ribbon/files/2012/05/2368419-150x150.jpg', alt='2368419', title='')
                .post-content.image-caption-format-1
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada, nibh quis egestas pellentesque, dui neque sagittis nisl, eget malesuada nunc felis sed augue. Aenean tempor nibh sed diam elementum sollicitudin quis in metus. Praesent tincidunt, velit id laoreet dictum, ante elit molestie nunc, ut dictum nulla lectus fringilla felis. Ut molestie, justo at suscipit
                .readMore
                  a(href='http://demo.mythemeshop.com/ribbon/2012/05/03/4-killer-social-media-marketing-strategies/', title='Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus Et Ultrices', rel='bookmark') Read More
              // .post excerpt
              .post.excerpt.last
                .post-date-ribbon
                  .corner
                  | 01 May 2012
                header
                  h2.title
                    a(href='http://demo.mythemeshop.com/ribbon/2012/05/01/why-facebooks-ipo-could-be-bad-news-for-users-privacy/', title='Class Aptent Taciti Sociosqu Ad Litora Torquent Per Conubia Nostra', rel='bookmark') Class Aptent Taciti Sociosqu Ad Litora Torquent Per Conubia Nostra
                  .post-info
                    .author_mt.hp_meta
                      span.mt_icon
                      | By
                      a(rel='author', href='http://demo.mythemeshop.com/ribbon/author/snbh3gj/', title='Posts by MyThemeShop') MyThemeShop
                    .cat_mt.hp_meta
                      span.mt_icon
                      a(href='http://demo.mythemeshop.com/ribbon/category/articles/', title='View all posts in articles', rel='nofollow') articles
                    .comment_mt.hp_meta
                      span.mt_icon
                      a(href='http://demo.mythemeshop.com/ribbon/2012/05/01/why-facebooks-ipo-could-be-bad-news-for-users-privacy/#comments')  0 Comments
                // .header
                a#featured-thumbnail(href='http://demo.mythemeshop.com/ribbon/2012/05/01/why-facebooks-ipo-could-be-bad-news-for-users-privacy/', title='Class Aptent Taciti Sociosqu Ad Litora Torquent Per Conubia Nostra', rel='nofollow')
                  .featured-thumbnail
                    img.attachment-featured.wp-post-image(width='150', height='150', src='http://demo.mythemeshop.com/ribbon/files/2012/05/4030898619_85f36ea730_z-150x150.jpg', alt='4030898619_85f36ea730_z', title='')
                .post-content.image-caption-format-1
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada, nibh quis egestas pellentesque, dui neque sagittis nisl, eget malesuada nunc felis sed augue. Aenean tempor nibh sed diam elementum sollicitudin quis in metus. Praesent tincidunt, velit id laoreet dictum, ante elit molestie nunc, ut dictum nulla lectus fringilla felis. Ut molestie, justo at suscipit
                .readMore
                  a(href='http://demo.mythemeshop.com/ribbon/2012/05/01/why-facebooks-ipo-could-be-bad-news-for-users-privacy/', title='Class Aptent Taciti Sociosqu Ad Litora Torquent Per Conubia Nostra', rel='bookmark') Read More
              // .post excerpt
              .post.excerpt
                .post-date-ribbon
                  .corner
                  | 17 Apr 2012
                header
                  h2.title
                    a(href='http://demo.mythemeshop.com/ribbon/2012/04/17/porttitor-lectus-tincidunt-elementum-nascetur-montes/', title='Porttitor Lectus Tincidunt Elementum Nascetur Montes', rel='bookmark') Porttitor Lectus Tincidunt Elementum Nascetur Montes
                  .post-info
                    .author_mt.hp_meta
                      span.mt_icon
                      | By
                      a(rel='author', href='http://demo.mythemeshop.com/ribbon/author/snbh3gj/', title='Posts by MyThemeShop') MyThemeShop
                    .cat_mt.hp_meta
                      span.mt_icon
                      a(href='http://demo.mythemeshop.com/ribbon/category/apple/', title='View all posts in Apple', rel='nofollow') Apple
                      | ,
                      a(href='http://demo.mythemeshop.com/ribbon/category/google/', title='View all posts in Google', rel='nofollow') Google
                    .comment_mt.hp_meta
                      span.mt_icon
                      a(href='http://demo.mythemeshop.com/ribbon/2012/04/17/porttitor-lectus-tincidunt-elementum-nascetur-montes/#comments')  0 Comments
                // .header
                a#featured-thumbnail(href='http://demo.mythemeshop.com/ribbon/2012/04/17/porttitor-lectus-tincidunt-elementum-nascetur-montes/', title='Porttitor Lectus Tincidunt Elementum Nascetur Montes', rel='nofollow')
                  .featured-thumbnail
                    img.attachment-featured.wp-post-image(width='150', height='150', src='http://demo.mythemeshop.com/ribbon/files/2012/04/5272141300_72d2f1e686-150x150.jpg', alt='5272141300_72d2f1e686', title='')
                .post-content.image-caption-format-1
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed convallis orci. Duis libero orci, pretium a, convallis quis, pellentesque a, dolor. Curabitur vitae nisi non dolor vestibulum consequat. Nascetur, vel massa enim lundium nec in, phasellus vel nisi nec penatibus? Duis phasellus, ut! Amet risus
                .readMore
                  a(href='http://demo.mythemeshop.com/ribbon/2012/04/17/porttitor-lectus-tincidunt-elementum-nascetur-montes/', title='Porttitor Lectus Tincidunt Elementum Nascetur Montes', rel='bookmark') Read More
              // .post excerpt
              .post.excerpt.last
                .post-date-ribbon
                  .corner
                  | 14 Apr 2012
                header
                  h2.title
                    a(href='http://demo.mythemeshop.com/ribbon/2012/04/14/a-post-with-everything-in-it/', title='A Post with Everything In It', rel='bookmark') A Post with Everything In It
                  .post-info
                    .author_mt.hp_meta
                      span.mt_icon
                      | By
                      a(rel='author', href='http://demo.mythemeshop.com/ribbon/author/snbh3gj/', title='Posts by MyThemeShop') MyThemeShop
                    .cat_mt.hp_meta
                      span.mt_icon
                      a(href='http://demo.mythemeshop.com/ribbon/category/featured/', title='View all posts in featured', rel='nofollow') featured
                      | ,
                      a(href='http://demo.mythemeshop.com/ribbon/category/mobiles/', title='View all posts in Mobiles', rel='nofollow') Mobiles
                    .comment_mt.hp_meta
                      span.mt_icon
                      a(href='http://demo.mythemeshop.com/ribbon/2012/04/14/a-post-with-everything-in-it/#comments')  5 Comments
                // .header
                a#featured-thumbnail(href='http://demo.mythemeshop.com/ribbon/2012/04/14/a-post-with-everything-in-it/', title='A Post with Everything In It', rel='nofollow')
                  .featured-thumbnail
                    img.attachment-featured.wp-post-image(width='150', height='150', src='http://demo.mythemeshop.com/ribbon/files/2012/04/6353261733_f94e7e3a8a_b-150x150.jpg', alt='6353261733_f94e7e3a8a_b', title='')
                .post-content.image-caption-format-1
                  | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt
                .readMore
                  a(href='http://demo.mythemeshop.com/ribbon/2012/04/14/a-post-with-everything-in-it/', title='A Post with Everything In It', rel='bookmark') Read More
              // .post excerpt
              .pagination
                ul
                  li.current
                    span.currenttext 1
                  li
                    a.inactive(rel='nofollow', href='http://demo.mythemeshop.com/ribbon/page/2/') 2
          aside.sidebar.c-4-12
            #sidebars.g
              .sidebar
                ul.sidebar_list
                  #tabber
                    ul.tabs
                      li
                        a(href='#popular-posts') Popular Posts
                      li.tab-recent-posts
                        a(href='#recent-posts') Recent Posts
                    // end .tabs
                    .clear
                    .inside
                      #popular-posts
                        ul
                          li
                            .left
                              a(href='http://demo.mythemeshop.com/ribbon/2012/04/14/a-post-with-everything-in-it/')
                                img.wp-post-image(src='http://demo.mythemeshop.com/ribbon/files/2012/04/6353261733_f94e7e3a8a_b-65x50.jpg', alt='A Post with Everything In It', width='65', height='50')
                              .clear
                            .info
                              p.entry-title
                                a(title='A Post with Everything In It', href='http://demo.mythemeshop.com/ribbon/2012/04/14/a-post-with-everything-in-it/')  Pellentesque habitant morbi tristique senectus et netus et malesuada
                              .meta
                                | April 14, 2012
                                span -
                                b 5
                                | Comments
                              // end .entry-meta
                            // end .info
                            .clear
                          li
                            .left
                              a(href='http://demo.mythemeshop.com/ribbon/2012/04/12/mauris-dictum-libero-id-justo-fusce-in-est/')
                                img.wp-post-image(src='http://demo.mythemeshop.com/ribbon/files/2012/04/4440514696_ffb7fa45f7-65x50.jpg', alt='Mauris Dictum Libero Id Justo Fusce In Est', width='65', height='50')
                              .clear
                            .info
                              p.entry-title
                                a(title='Mauris Dictum Libero Id Justo Fusce In Est', href='http://demo.mythemeshop.com/ribbon/2012/04/12/mauris-dictum-libero-id-justo-fusce-in-est/')  Nulla sagittis convallis arcu. Sed sed nunc. Curabitur consequat.
                              .meta
                                | April 12, 2012
                                span -
                                b 0
                                | Comments
                              // end .entry-meta
                            // end .info
                            .clear
                          li
                            .left
                              a(href='http://demo.mythemeshop.com/ribbon/2012/05/16/facebook-buys-lightbox-an-android-photo-sharing-app/')
                                img.wp-post-image(src='http://demo.mythemeshop.com/ribbon/files/2012/05/2478745-65x50.jpg', alt='Eget Malesuada Nunc Delis Sed Augue Aenean', width='65', height='50')
                              .clear
                            .info
                              p.entry-title
                                a(title='Eget Malesuada Nunc Delis Sed Augue Aenean', href='http://demo.mythemeshop.com/ribbon/2012/05/16/facebook-buys-lightbox-an-android-photo-sharing-app/')  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                              .meta
                                | May 16, 2012
                                span -
                                b 0
                                | Comments
                              // end .entry-meta
                            // end .info
                            .clear
                      // end #popular-posts
                      #recent-posts
                        ul
                          li
                            .left
                              a(href='http://demo.mythemeshop.com/ribbon/2012/05/20/how-twitter-works-all-you-need-to-know-about-twitter/')
                                img.wp-post-image(src='http://demo.mythemeshop.com/ribbon/files/2012/05/2320393-65x50.jpg', alt='Class Aptent Taciti Aociosqu Ad Litora Torquent Per', width='65', height='50')
                              .clear
                            .info
                              p.entry-title
                                a(title='Class Aptent Taciti Aociosqu Ad Litora Torquent Per', href='http://demo.mythemeshop.com/ribbon/2012/05/20/how-twitter-works-all-you-need-to-know-about-twitter/') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                              .meta
                                | May 20, 2012
                                span -
                                b 0
                                | Comments
                              // end .entry-meta
                            // end .info
                            .clear
                          li
                            .left
                              a(href='http://demo.mythemeshop.com/ribbon/2012/05/16/facebook-buys-lightbox-an-android-photo-sharing-app/')
                                img.wp-post-image(src='http://demo.mythemeshop.com/ribbon/files/2012/05/2478745-65x50.jpg', alt='Eget Malesuada Nunc Delis Sed Augue Aenean', width='65', height='50')
                              .clear
                            .info
                              p.entry-title
                                a(title='Eget Malesuada Nunc Delis Sed Augue Aenean', href='http://demo.mythemeshop.com/ribbon/2012/05/16/facebook-buys-lightbox-an-android-photo-sharing-app/') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                              .meta
                                | May 16, 2012
                                span -
                                b 0
                                | Comments
                              // end .entry-meta
                            // end .info
                            .clear
                          li
                            .left
                              a(href='http://demo.mythemeshop.com/ribbon/2012/05/03/4-killer-social-media-marketing-strategies/')
                                img.wp-post-image(src='http://demo.mythemeshop.com/ribbon/files/2012/05/2368419-65x50.jpg', alt='Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus Et Ultrices', width='65', height='50')
                              .clear
                            .info
                              p.entry-title
                                a(title='Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus Et Ultrices', href='http://demo.mythemeshop.com/ribbon/2012/05/03/4-killer-social-media-marketing-strategies/') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                              .meta
                                | May 03, 2012
                                span -
                                b 0
                                | Comments
                              // end .entry-meta
                            // end .info
                            .clear
                      // end #recent-posts
                      .clear
                    // end .inside
                    .clear
                  // end #tabber
                  li.widget.widget-sidebar
                    form#searchform.search-form(method='get', action='http://demo.mythemeshop.com/ribbon', _lpchecked='1')
                      fieldset
                        input#s(type='text', name='s', value='Search this site...', onblur='if (this.value == "") {this.value = "Search this site...";}', onfocus='if (this.value == "Search this site...") {this.value = "";}')
                        input(type='submit', value='Search', onclick='if(this.value=="Search this Site...")this.value="";')
                  li.widget.widget-sidebar
                    h3 Recent Posts
                    ul
                      li
                        a(href='http://demo.mythemeshop.com/ribbon/2012/05/20/how-twitter-works-all-you-need-to-know-about-twitter/', title='Class Aptent Taciti Aociosqu Ad Litora Torquent Per') Class Aptent Taciti Aociosqu Ad Litora Torquent Per
                      li
                        a(href='http://demo.mythemeshop.com/ribbon/2012/05/16/facebook-buys-lightbox-an-android-photo-sharing-app/', title='Eget Malesuada Nunc Delis Sed Augue Aenean') Eget Malesuada Nunc Delis Sed Augue Aenean
                      li
                        a(href='http://demo.mythemeshop.com/ribbon/2012/05/03/4-killer-social-media-marketing-strategies/', title='Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus Et Ultrices') Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus Et Ultrices
                      li
                        a(href='http://demo.mythemeshop.com/ribbon/2012/05/01/why-facebooks-ipo-could-be-bad-news-for-users-privacy/', title='Class Aptent Taciti Sociosqu Ad Litora Torquent Per Conubia Nostra') Class Aptent Taciti Sociosqu Ad Litora Torquent Per Conubia Nostra
                      li
                        a(href='http://demo.mythemeshop.com/ribbon/2012/04/17/porttitor-lectus-tincidunt-elementum-nascetur-montes/', title='Porttitor Lectus Tincidunt Elementum Nascetur Montes') Porttitor Lectus Tincidunt Elementum Nascetur Montes
                  li.widget.widget-sidebar
                    h3 Our Sponsors
                    .ad-125
                      ul
                        li.oddad
                          a(href='http://mythemeshop.com/')
                            img(src='http://demo.mythemeshop.com/ribbon/wp-content/themes/ribbon/images/125x125.gif', width='125', height='125', alt='')
                        li.evenad
                          a(href='http://mythemeshop.com/')
                            img(src='http://demo.mythemeshop.com/ribbon/wp-content/themes/ribbon/images/125x125.gif', width='125', height='125', alt='')
                  li.widget.widget-sidebar
                    .ad-300
                      a(href='http://mythemeshop.com/')
                        img(src='http://demo.mythemeshop.com/ribbon/wp-content/themes/ribbon/images/300x250.gif', width='300', height='250', alt='')
                  li.widget.widget-sidebar
                    h3 Latest Tweets
                    script(type='text/javascript')
                      jQuery(document).ready(function($){
                      $.getJSON('http://api.twitter.com/1/statuses/user_timeline/mythemeshopteam.json?count=3&callback=?', function(tweets){
                      $("#twitter_update_list_517").html(swt_format_twitter(tweets));
                      });
                      });
                    ul#twitter_update_list_517.tweets
                      li
                        p
                    a.twitter-follow(href='http://twitter.com/mythemeshopteam') Follow on Twitter
            // sidebars
        // #page
      // .container
    footer
      .container
        .footer-widgets
          .f-widget.f-widget-1
            .widget
              h3 Lorem ipsum
              .textwidget
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada, nibh quis egestas pellentesque, dui neque sagittis nisl, eget malesuada nunc felis sed augue. Aenean tempor nibh sed diam elementum sollicitudin quis in metus. Praesent tincidunt
          .f-widget.f-widget-2
            .widget
              h3 Latest Tweets
              script(type='text/javascript')
                jQuery(document).ready(function($){
                $.getJSON('http://api.twitter.com/1/statuses/user_timeline/mythemeshopteam.json?count=2&callback=?', function(tweets){
                $("#twitter_update_list_243").html(swt_format_twitter(tweets));
                });
                });
              ul#twitter_update_list_243.tweets
                li
                  p
              a.twitter-follow(href='http://twitter.com/mythemeshopteam') Follow on Twitter
          .f-widget.last
            .widget
              form#searchform.search-form(method='get', action='http://demo.mythemeshop.com/ribbon', _lpchecked='1')
                fieldset
                  input#s(type='text', name='s', value='Search this site...', onblur='if (this.value == "") {this.value = "Search this site...";}', onfocus='if (this.value == "Search this site...") {this.value = "";}')
                  input(type='submit', value='Search', onclick='if(this.value=="Search this Site...")this.value="";')
            .widget
              h3 Recent Posts
              ul
                li
                  a(href='http://demo.mythemeshop.com/ribbon/2012/05/20/how-twitter-works-all-you-need-to-know-about-twitter/', title='Class Aptent Taciti Aociosqu Ad Litora Torquent Per') Class Aptent Taciti Aociosqu Ad Litora Torquent Per
                li
                  a(href='http://demo.mythemeshop.com/ribbon/2012/05/16/facebook-buys-lightbox-an-android-photo-sharing-app/', title='Eget Malesuada Nunc Delis Sed Augue Aenean') Eget Malesuada Nunc Delis Sed Augue Aenean
        // .footer-widgets
      // .container
      .copyrights
        // start copyrights
        #copyright-note.row
          span
            a(href='http://demo.mythemeshop.com/ribbon/', title='Just another MyThemeShop Playground site') Ribbon
            | Copyright © 2013.
          .top
            | Theme by
            a(href='http://mythemeshop.com/') MyThemeShop
            | .
            a.toplink(href='#top') Back to Top ↑
        // end copyrights
    // footer
    // start footer code
    // end footer code
