!!! 5
html
    head
        title 404 - dreamlu
        meta(http-equiv="refresh", content="5; url=/")
        meta(http-equiv='content-type', content='text/html; charset=UTF-8')
        meta(name='Keywords', content='nodejs,node mysql,node demo,dreamlu')
        meta(name='Description', content='dreamlu dreamlu.net/ 是一个nodejs开发的demo网站。')
        link(rel="stylesheet", type="text/css", href="/css/error.css")
    body
        #msg_box
            .logo
                h1 DreamLu
            .title 抱歉，您访问的页面没找到
            .msg 我们已经将此错误信息记录下来，并将尽快处理，为此造成您的不便请多见谅
            .nav
                script(type="text/javascript", src="http://www.qq.com/404/search_children.js", charset="utf-8")