doctype 5
html
    head
        title 500 - dreamlu
        meta(http-equiv='content-type', content='text/html; charset=UTF-8')
        meta(name='Keywords', content='nodejs,node mysql,node demo,dreamlu')
        meta(name='Description', content='dreamlu dreamlu.net/ 是一个nodejs开发的demo网站。')
        // Le styles
        link(rel="stylesheet", type="text/css", href="/css/error.css")
    body
        #msg_box
            .logo
                h1 DreamLu
            .title 抱歉，网站可能出现某些错误
            .msg 我们已经将此错误信息记录下来，并将尽快处理，为此造成您的不便请多见谅
            .nav
                pre
                   |_____________
                   |(&nbsp;&nbsp;
                   a(href="javascript:history.go(-1);") 返回上页
                   |&nbsp;&nbsp;)
                   |(&nbsp;&nbsp;
                   a(href="/") 返回首页
                   |&nbsp;&nbsp;)
                   |------------- 
                   |       O 
                   |        O   ^__^
                   |         o  (oo)_______
                   |            (__)       )\/\
                   |                ||----w |
                   |                ||     ||