extends layout

block content
    include ../common/_admin_navbar
    .content
        .header
            h1.page-title 写博
        ul.breadcrumb
            li
                a(href="/admin") 首页
                span.divider /
            li.active 写博