!!! 5
html
    head
        include ../common/_admin_head
    | <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
    | <!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
    | <!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
    | <!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
    | <!--[if (gt IE 9)|!(IE)]><!-->
    | <body class="">
    | <!--<![endif]-->
    block content
    include ../common/_admin_script