<#macro footer>
<footer id="footer">
	<div class="inner">
		<div class="left">
			<nav id="footer-nav" class="hor-tabs">
				<a href="about">关于我们</a> <i></i>
				<a href="license">服务条款</a> <i></i>
				<a href="http://segmentfault.com/faq">帮助中心</a> <i></i>
				<a href="http://segmentfault.com/link">合作伙伴</a> <i></i>
				<a href="http://segmentfault.com/feedback">建议反馈</a> <i></i>
				<a target="_blank" href="http://blog.segmentfault.com/">开发日志</a>
			</nav>
				Copyright © 2011-2012 SegmentFault. <br> 除特别说明外，用户内容均遵循
				<a href="http://creativecommons.org/licenses/by-sa/2.5/cn/">CCBY-SA 2.5</a> 中国大陆许可协议许可
		</div>
		<div class="right">
			<div class="follow-us">
				<a href="http://weibo.com/segmentfault" target="_blank">
					<img src="img/icon/auth-weibo.png" alt="新浪微博">新浪微博
				</a>
				<a href="http://t.qq.com/segmentfault" target="_blank">
					<img src="img/icon/auth-qq.png" alt="腾讯微博">腾讯微博
				</a>
				<a href="http://twitter.com/segment_fault" target="_blank">
					<img src="img/icon/auth-twitter.png" alt="Twitter">Twitter
				</a> 
				<a href="http://page.renren.com/699146294" target="_blank">
					<img src="img/icon/auth-renren.png" alt="人人网">人人网
				</a>
			</div>
			<a target="_blank" href="http://elinkhost.com/">Elinkhost</a> 
			提供 IDC服务, <a href="https://www.upyun.com/?utm_source=segmentfault&utm_medium=link&utm_campaign=upyun&md=segmentfault">又拍云</a>
			提供存储服务<br>京 ICP 备 12004937 号, 京公网安备 110108008332 号
		</div>
	</div>
	<a id="feedback" href="http://segmentfault.com/feedback">建议反馈</a>
</footer>
</#macro>