link(rel="stylesheet", href="/kindeditor/themes/default/default.css")
link(rel="stylesheet", href="/kindeditor/plugins/code/prettify.css")
script(charset="utf-8", src="/kindeditor/kindeditor-min.js")
script(charset="utf-8", src="/kindeditor/lang/zh_CN.js")
script(charset="utf-8", src="/kindeditor/plugins/code/prettify.js")
script(charset="utf-8")
	var editor;
	KindEditor.ready(function(K) {
		editor = K.create('#editor', {
			width : '100%',
			height : '240px',
			resizeType : 1,
			cssPath : '/kindeditor/plugins/code/prettify.css',
			uploadJson : 'upload',
			allowPreviewEmoticons : false,
			allowImageUpload : true,
			items : [
				'bold', 'italic', 'underline','removeformat', '|', 'forecolor', 'hilitecolor', 'fontname',
				'fontsize', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
				'insertunorderedlist', '|', 'emoticons', 'code', 'image', 'link', '|','source', 'about']
		});
	});