<#macro script>
<script src="js/jqueryjs" type="text/javascript"></script>
<script src="js/jquery.form.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){
		$(".input-search").focus(function(){
			$(".labelq").addClass("hid");
		});
		$(".input-search").blur(function(){
			if($(this).val() === ''){
				$(".labelq").removeClass("hid");
			}
		});
		$("#drop-link").click(function (){
			$(".dropdown-menu").removeClass("hidden");
			return false;
		});
		$("#drop-link-wrap").blur(function(){
			$(".dropdown-menu").addClass("hidden");
		});
		$(".msg-close").click(function(){
			$("#msg-bar").addClass("hidden");
			return false;
		});
	});
</script>
</#macro>