article.article.single
    #content_box
        #content.hfeed.single_post
            header
                .title
                    h1 抱歉，您访问的页面没找到
            .post-content
                p Oops! 我们已经将此错误信息记录下来，并将尽快处理，为此造成您的不便请多见谅。
            // .post-content // #error404 .post
        // #content
    // #content_box