.navbar
    .navbar-inner
        ul.nav.pull-right
            li
                a.hidden-phone.visible-tablet.visible-desktop(href="#", role="button") 设置
            li#fat-menu.dropdown
                a.dropdown-toggle(href="#", role="button", data-toggle="dropdown")
                    i.icon-user
                    | #{user.nick_name }
                    i.icon-caret-down
                ul.dropdown-menu
                    li
                        a(tabindex="-1", href="#") 用户中心
                    li.divider
                    li
                        a.visible-phone(tabindex="-1", href="#") 设置
                    li.divider.visible-phone
                    li
                        a(tabindex="-1", href="/logout") 退出
        a.brand(href="/")
            span.first Dream
            span.second Lu
.sidebar-nav
    form.search.form-inline
        input(type="text", placeholder="搜索...")

    a.nav-header(href="#dashboard-menu", data-toggle="collapse")
        i.icon-dashboard
        | 博文管理
    ul#dashboard-menu.nav.nav-list.collapse.in
        li
            a(href="/admin") 首页
        li
            a(href="/blog/list") 列表

    a.nav-header(href="#blogtype-menu", data-toggle="collapse")
        i.icon-list
        | 博文类型
    ul#blogtype-menu.nav.nav-list.collapse
        li
            a(href="/blog_type/list") 列表

    a.nav-header(href="#accounts-menu", data-toggle="collapse")
        i.icon-briefcase
        | 用户管理
        span.label.label-info +3

    ul#accounts-menu.nav.nav-list.collapse
        li
            a(href="sign-in.html") Sign In
        li
            a(href="sign-up.html") Sign Up
        li
            a(href="reset-password.html") Reset Password

    a.nav-header.collapsed(href="#error-menu", data-toggle="collapse")
        i.icon-exclamation-sign
        | 标签管理
        i.icon-chevron-up
    ul#error-menu.nav.nav-list.collapse
        li
            a(href="403.html") 403 page
        li
            a(href="404.html") 404 page
        li
            a(href="500.html") 500 page
        li
            a(href="503.html") 503 page

    a.nav-header(href="#legal-menu", data-toggle="collapse")
        i.icon-legal
        | Legal
    ul#legal-menu.nav.nav-list.collapse
        li
            a(href="privacy-policy.html") Privacy Policy
        li
            a(href="terms-and-conditions.html") Terms and Conditions

    a.nav-header(href="help.html")
        i.icon-question-sign
        | 帮助
    a.nav-header(href="faq.html")
        i.icon-comment
        | Faq