footer
    hr
    p.pull-right GitHub 
        a(href="https://github.com/ChunMengLu/jnode", target="_blank") Jnode
        | by 
        a(href="https://github.com/ChunMengLu", target="_blank") DreamLu
    p © 2013 
        a(href="https://github.com/ChunMengLu", target="_blank") DreamLu