footer
    .container
        .footer-widgets
            .f-widget.f-widget-1
                .widget
                    h3 网站相关
                    a(href='/rss', title='Rss 订阅') 关于作者
                    br
                    br
                    a(target="_blank", href="http://wpa.qq.com/msgrd?v=3&uin=596392912&site=qq&menu=yes")
                        img(border="0", src="http://wpa.qq.com/pa?p=2:596392912:51", alt="点击这里给我发消息", title="点击这里给我发消息")
            .f-widget.f-widget-2
                .widget
                    h3 关注我们
                    ul
                        li
                            a(href='/rss', title='Rss 订阅') Rss 订阅
                        li
                            a(href='https://github.com/ChunMengLu/jnode', title='GitHub') 本站源码
                        li
                            a(href='http://weibo.com/lcm596392912', title='新浪微博') 新浪微博
                        li
                            a(href='http://t.qq.com/lcm-596392912', title='腾讯微博') 腾讯微博
            .f-widget.last
                .widget
                    h3 官方微信
                    img(width="120px", height="120px", src="https://res.wx.qq.com/mpres/htmledition/images//mp_qrcode14e99b.png")
        // .footer-widgets
    .copyrights
        // start copyrights
        #copyright-note.row
            span
                | © 2013&nbsp;
                a(href='https://github.com/ChunMengLu', title='GiHub地址') DreamLu
            .top
                a(href="http://nodejs.org", target="_blank", title="Node.js")
                    img(alt="Node.js", src="http://nodejs.org/favicon.ico")
                | &nbsp;&nbsp;
                a(href="http://oschina.net", target="_blank", title="开源中国")
                    img(alt="oschina.net", src="http://www.oschina.net/favicon.ico")
                | &nbsp;&nbsp;
                a(href="http://cnodejs.org", target="_blank", title="cnode社区")
                    img(alt="cnodejs.org", src="http://www.cnodejs.org/favicon.ico")
                | &nbsp;&nbsp;
                a(href="http://blog.huanghongbin.com", target="_blank", title="大黄的blog")
                    img(alt="大黄的blog", src="http://blog.huanghongbin.com/wp-content/themes/qetro/favicon.ico")
                //a.toplink(href='#top') Back to Top ↑
    // end copyrights
// footer