header.main-header
    .container
        #header
            h1#logo
                a(href='/')
                    //img(src='/images/logo.png', alt='Ribbon')
                    | Dr
                    span ea
                    | mLu
            // END #logo
            //.widget-header
                .banner
                    .textwidget
                        img(src='/images/103642-1335226181.png')
        // #header
        .secondary-navigation
            nav#navigation
                ul#menu-main-navigation.menu.sf-js-enabled
                    li#menu-item-1305.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-1305
                        a(href='/') 首页
                    li#menu-item-1286.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-1286
                        a(href='/blogs') 文章
                    li#menu-item-1287.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-1287
                        a(href='/favorites') 收藏
                    li#menu-item-1288.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-1288
                        a(href='/tags') 标签
                    li#menu-item-1289.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-1289
                        a(href='/apply') 应用
                    li#menu-item-1290.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-1290
                        a(href='/about') 关于
                select
                    option(selected='selected', value='') 跳转至...
                    option(value='/') 首页
                    option(value='/blogs') 文章
                    option(value='/favorites') 收藏
                    option(value='/tags') 标签
                    option(value='/mobiles') 应用
                    option(value='/about') 关于
    // .container
