meta(charset='UTF-8')
title= title + ' - nodejs 博客 dreamlu.net'
link(rel='icon', href='/favicon.ico', type='image/x-icon')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black')
link(rel='stylesheet', type='text/css', media='all', href='/css/style.css')
link(rel='stylesheet', type='text/css', media='all', href='/css/index.css')
//if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
link(rel='alternate', type='application/rss+xml', title='Ribbon » Feed', href='/feed/')
link#GoogleFonts-css(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Monda%3Aregular%2Cbold&v1&ver=3.5.1', type='text/css', media='all')