link(rel="stylesheet", href="/kindeditor/themes/default/default.css")
link(rel="stylesheet", href="/kindeditor/plugins/code/prettify.css")
script(charset="utf-8", src="/kindeditor/kindeditor-min.js")
script(charset="utf-8", src="/kindeditor/lang/zh_CN.js")
script(charset="utf-8", src="/kindeditor/plugins/code/prettify.js")
script(charset="utf-8")
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('#editor', {
            width : '98%',
            height : '240px',
            resizeType : 1,
            cssPath : '/kindeditor/plugins/code/prettify.css',
            uploadJson : '/admin/editor',
            allowPreviewEmoticons : false,
            allowImageUpload : true,
            items : [
                'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', '|',
                'subscript', 'superscript', 'clearhtml', 'quickformat', 'selectall', 'source', '/',
                'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image',
                'flash', 'media', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
                'anchor', 'link', 'unlink', '|', 'about', 'fullscreen'
            ]    
        });
    });


