.pagination
    ul
        if blogPage.getPageNumber() > 1
            li.previous.current
                a(href="/#{blogPage.getPageNumber() - 1}", title="上一页") &larr; 上一页
        else
            li.previous
                span.currenttext &larr; 上一页
        if blogPage.getTotalRow() > blogPage.getPageNumber()
            li.next.current
                a(href="/#{blogPage.getPageNumber() + 1}", title="下一页") 下一页 &rarr;
        else
            li.next
                span.currenttext 下一页 &rarr;